body,
html {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	padding: 20px;
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: center; /* horizontal centering */
	align-items: center; /* vertical centering */
	background-color: #333;
	color: white;
    border-radius: 10px;

}

img {
	flex: 1;
	max-width: 100%; /* You can adjust this value according to your needs */
	height: auto; /* This ensures the image maintains its aspect ratio */
	padding-bottom: 40px;
}

.intro {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	font-size: 15px;

}

.text {
	flex: 1;
	padding: 0 20px; /* Adjust the padding as needed */
}

.welcome{
	color: aliceblue;
  }

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.text {
		padding: 20px 0; /* Adjust the padding for smaller screens */
	}
}

header {
	background-color: #333;
	color: white;
	padding: 1rem;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

main {
	padding: 2rem;
}

section#intro {
	text-align: center;
	margin-bottom: 2rem;
}
/*_____________________footer_____*/
footer {
	background-color: #333;
	color: white;
	text-align: center;
	/* position: fixed; */
	width: 100%;
	bottom: 0;
	padding: 1rem 0;
}

.fa {
	padding: 0;
	font-size: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0px;
	color: white;
}

.fa:hover {
	text-decoration: none;
	color: #1a237e;
}

.fa-github {
	color: white;
}

.fa-twitter {
	color: white;
	margin: 0;
}

.fa-linkedin {
	color: white;
	margin: 0;
}

.fa-instagram {
	color: white;
	margin: 0;
}

.credits-footer {
	font-size: 10px;
	font-family: "Raleway", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

/*__________________________*/

.section {
	width: 80%; /* adjust width as needed */
	margin: 0 auto; /* to center the section */
}

h5 {
	font-size: 15px !important;
}
