body, html {
    font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      height: 100%;
    
  }



header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  section#intro {
    text-align: center;
    margin-bottom: 2rem;
  }