body {
    background-color: rgb(255, 255, 255);
}
.containerManager{
        padding: 20 20 20 20;
        margin-bottom: 20px;
        background-color: rgba(94, 94, 94, 0.2);
        border-radius: 10px;
    
}