.pricingContainer {
	padding: 1rem;
	text-align: left;
}

.priceContainer {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 1rem 0;
}

.price {
	font-size: 3.5rem;
	color: black;
	font-weight: bold;
}

.title {
	margin-bottom: 2rem;
	font-weight: bold;
}

.card {
	border-radius: 12px;
	transition: transform 0.3s ease;
	border: #007bff;
}

.card:hover {
	transform: scale(1.05);
}

.oldPrice {
	text-decoration: line-through;
	color: rgb(255, 115, 0);
	position: relative;
	top: -10px;
	font-size: 1rem;
}

.button {
	font-weight: bold;
	text-transform: uppercase;
}

.icon {
	color: #171717;
	height: 1.5em;
}

.cardContent {
	margin: 0px;
	padding: 20px;
	border: solid 1px #c7c7c7;
}

.schedulleLink {
	cursor: pointer;
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	align-items: center;
}

/* Optional: To ensure it doesn't get underlined on hover */
.schedulleLink:hover {
	text-decoration: none;
}

.cardHeader {
	background-color: #c7c7c7;
	padding: 20px;
}

