.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  padding: 40px;
  margin-top: 0; /* Adjust top margin to remove excessive space */
}

.heroText {
  display: flex;
  flex-direction: column;
  text-align: left; /* Align text to the left */
  font-size: clamp(3rem, 8vw, 4rem); /* Adjust font size based on viewport */
}

.heroTextPrimary {
  font-size: inherit;
  color: red; /* Adjust to your primary color */
}

.heroDescription {
  text-align: left;
  color: white;
  width: 80%;
  margin-top: 1rem;
}

.heroContainerRight {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center;
}

.heroImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.features {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Ensure the items stack on smaller screens */
}

.features .heroDescription {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.features .heroDescription strong {
  color: #ff5e57; /* Accent color for strong text */
}

@media (min-width: 600px) {
  .heroContainer {
    padding: 60px;
  }

  .heroText {
    font-size: clamp(4rem, 6vw, 5rem);
  }

  .features {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .heroText {
    font-size: clamp(2rem, 10vw, 3rem);
  }

  .heroDescription {
    font-size: 1rem;
    width: 90%;
  }
}
