.mainContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
  }


  .heroSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60%;
	color: #fff;
	padding: 2rem;
  }
    
  .logo {
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
  }
  
  .rightButtons {
	display: flex;
	gap: 1rem;
  }
  
  .bookButton {
	border-color: #fff;
	color: #fff;
	text-transform: none;
  }
  
  .ctaButton {
	background: linear-gradient(to right, #ff3131, #006c61);
	color: #fff;
	text-transform: none;
  }
  
 
  
  .textContainer {
	max-width: 600px;
  }
  
  .heroTitle {
	font-size: 3rem;
	font-weight: bold;
  }
  
  .highlight {
	background: linear-gradient(to right, #ff3131, #44ddce);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .features {
	padding: 40px;
  }

  .featureList {
	margin-top: 1rem;
  }
  
  .featureItem {
	margin: 0.5rem 0;
  }
  
  .imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .heroImage {
	width: 100%;
	max-width: 600px;
	height: auto;
  }
  
  /* Style for strong tags within heroDescription */
.heroDescription strong {
	color: orange; /* Set the text color to orange */
	font-weight: bold; /* Make the text bold */
	font-size: 1.1em; /* Slightly increase the font size */
  }