/* Reviews Page Styles */
.servicesSection {
	padding: 3rem 1rem;
	text-align: center;
	color: red;
	min-height: 100vh; /* Ensure the section covers the full viewport height */
	background-color: #171717;
	height: 100vh;
	display: flex;
	justify-content: flex-start; /* Align content to the top */
	position: relative;
	flex-direction: column;
	position: relative;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	text-align: left;
	padding: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

.description {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	color: #ccc;
	text-align: left;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
	background-color: var(--background); /* Background color based on theme */
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.introText {
	font-size: 1.2rem;
	margin-bottom: 20px;
	color: var(--foreground); /* Text color based on theme */
}

.reviewsList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 800px;
}

.reviewsItem {
	background-color: var(--review-bg); /* Background color based on theme */
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for both modes */
}

.reviewsItem blockquote {
	font-size: 1.1rem;
	font-style: italic;
	color: var(--foreground); /* Text color based on theme */
	margin-bottom: 10px;
}

.reviewsItem p {
	font-weight: bold;
	color: var(--foreground); /* Text color based on theme */
}

.reviewLink {
	display: inline-block;
	margin-top: 10px;
	color: var(--button-primary-hover); /* Link color based on theme */
	text-decoration: none;
}

.reviewLink:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	.reviewsItem {
		padding: 0 16px;
	}
}
