.navbar {
	z-index: 1000;
	background-color: transparent;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .appbar {
	background: white; /* Fixed background color */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bottom shadow */
  }
  
  
  .toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .rightButtons {
	display: flex;
	gap: 1rem;
  }
  
  .navLinks {
	display: flex;
	gap: 1rem;
  }
  
  .navLinks li {
	display: inline;
  }
  
  .navLinks a {
	color: black; /* Fixed text color */
	text-decoration: none;
	font-size: 16px;
  }
  
  .navLinks a:hover {
	text-decoration: underline;
  }
  
  .bookButton {
	border-color: #fff;
	color: #fff;
	text-transform: none;
  }
  
  .ctaButton {
	background: linear-gradient(to right, #ff3131, #006c61);
	color: #fff;
	text-transform: none;
  }
  
  .menuIcon {
	display: none;
	color: black; /* Fixed icon color */
  }
  
  .drawerMenu {
	padding: 40px;
	background-color: #000000;
	height: 100vh;
  }
  
  .drawerMenu ul {
	list-style: none;
	padding: 0;
  }
  
  .drawerMenu li {
	margin: 10px 0;
  }
  
  .drawerMenu a {
	color: white;
	text-decoration: none;
	font-size: 18px;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
	.navLinks {
	  display: none;
	}
  
	.menuIcon {
	  display: block;
	}
  }
  
  .logoImage {
	height: auto;
	max-height: 6rem;
	width: auto;
	max-width: 200px;
	padding: 0;
	margin: 0 auto;
	display: block;
	object-fit: contain;
  }
  