.portfolioSection {
	padding: 3rem 1rem;
	text-align: center;
	color: #fff;
	background-color: #171717;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	text-align: left;
	padding: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	color: #ff3131 !important;
}

.description {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	color: #ccc;
}

.slideshowContainer {
	display: grid;
	grid-template-columns: repeat(1, 1fr); /* Default to 1 image per row */
	gap: 1rem;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
}

@media (min-width: 600px) {
	.slideshowContainer {
		grid-template-columns: repeat(2, 1fr); /* Show 2 images for medium screens */
	}
}

@media (min-width: 900px) {
	.slideshowContainer {
		grid-template-columns: repeat(3, 1fr); /* Show 3 images for large screens */
	}
}

.slide {
	text-align: center;
	max-width: 100%; /* Ensure images fit within their grid cells */
}

.projectImage {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 1rem;
}

.projectTitle {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.projectDescription {
	font-size: 1rem;
	color: #ccc;
}

.arrowButton {
	color: #fff;
}

.dots {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.activeDot {
	background-color: #ff3131;
}

.seeMoreButton {
	background: linear-gradient(to right, #ff3131, #006c61);
	color: #fff;
	text-transform: none;
	margin-top: 2rem;
}
