.reviewsSection {
	display: flex;
	flex-direction: column;
	padding: 3rem 1rem;
	text-align: center;
  }
  
  .title {
	text-align: left;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #333333;
  }
  
  .description {
	font-size: 1rem;
	margin-bottom: 2rem;
	color: #555555;
	text-align: left;
  }
  
  .card {
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .reviewLink {
	text-decoration: none;
	color: #007bff;
	font-weight: bold;
	display: inline-block;
	margin-top: 0.5rem;
  }
  
  .reviewLink:hover {
	text-decoration: underline;
  }
  